*
{
    margin: 0px;
}

a:link
{
    font-size: 30px;
    text-decoration: none;
    color: rgb(0, 100, 255);
}

a:visited
{
    font-size: 30px;
    text-decoration: none;
    color: rgb(0, 100, 255);
}

a:hover
{
    font-size: 30px;
    text-decoration: none;
    color: rgb(0, 100, 255);
}

ul
{
    list-style-position: inside;
    padding-left: 0;
}

.header-bar
{
    width: 100%;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    border: 1px solid rgb(162, 221, 255);
    background-color: rgb(240, 240, 240);
    box-shadow: 0 10px 5px 0px rgba(0,0,0,0.2);
}

.header-1
{
    font-size: 60px;
    line-height: 2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    white-space: nowrap;
    color: rgb(0, 100, 255);
}

.header-2
{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 50px;
    white-space: nowrap;
    color: rgb(0, 100, 255);
}

.header-3
{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 40px;
    white-space: nowrap;
    color: rgb(0, 100, 255);
}

.header-4
{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 30px;
    white-space: nowrap;
    color: rgb(0, 100, 255);
}

.header-5
{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 20px;
    white-space: nowrap;
    color: rgb(0, 100, 255);
}

.header-6
{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 10px;
    white-space: nowrap;
    color: rgb(0, 100, 255);
}

.catagory-header
{
    margin-top: 4rem;
    margin-bottom: 0.2rem;
    font-size: 30px;
    white-space: nowrap;
    color: rgb(0, 100, 255);
}

.vertical-layout
{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.horizontal-layout
{
    padding: auto;
    display: flex;
    justify-content: space-around;
}

.pill
{
    margin: 10px;
    text-align: center;
    border-radius: 1em;
    white-space: nowrap;
    padding-left: 0.4em;
    padding-right: 0.4em;
    border: 2px solid rgb(200, 200, 255);
}

.cell
{
    padding: 0px;
    margin: 10px;
    border-radius: 10px;
    white-space: nowrap;
}

.text-block
{
    text-align: left;
}

.centered-text
{
    text-align: center;
}

.vertical-spacer
{
    height: auto;
    border-left: 1px solid rgb(52, 190, 91);
}

.horizontal-spacer
{
    size: 1px;
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border: 1px solid rgb(52, 190, 91);
}

.horizontal-cell
{
    width:100%;
    margin: 10px;
    padding: 0.5rem;
    overflow: hidden;
    border-radius: 10px;
    white-space: nowrap;
    border: 1px solid rgb(162, 221, 255);
    background-color: rgb(240, 240, 240);
    box-shadow: 0 5px 5px 5px rgba(0,0,0,0.2);
}