body
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: monospace;
	color: #FFFFFF;
	font-size: 20px;
	background-color: #141414;
}

ul
{
	padding-left: 0;
	list-style-position: outside;
}

header
{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	border: 1px solid #00FF00;
	background-color: #282828;
}

footer
{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;
	border: 1px solid #00FF00;
	background-color: #282828;
}

h1
{
	font-size: 60px;
	line-height: 2rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	white-space: nowrap;
	color: #00FF00;
}

h2
{
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	font-size: 50px;
	white-space: nowrap;
	color: #00FF00;
}

h3
{
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	font-size: 40px;
	white-space: nowrap;
	color: #00FF00;
}

h4
{
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	font-size: 30px;
	white-space: nowrap;
	color: #00FF00;
}

h5
{
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	font-size: 20px;
	white-space: nowrap;
	color: #00FF00;
}

h6
{
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	font-size: 10px;
	white-space: nowrap;
	color: #00FF00;
}

a
{
	color: #00FF00;
}

.section-header
{
	margin-top: 4rem;
	text-align: center;
}

.vertical-list
{
	display: flex;
	text-align: left;
	align-items: left;
	flex-direction: column;
	justify-content: left;
}

.vertical-layout
{
	display: flex;
	flex-direction: column;
}

.horizontal-layout
{
	display: flex;
	justify-content: space-around;
}

.horizontal-cell
{
	width:100%;
	margin: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	padding-right: 10px;
	overflow: hidden;
	border-radius: 10px;
	white-space: wrap;
	border: 1px solid #00FF00;
	background-color: #282828;
}