*
{
    margin: 0px;
    color:rgb(200, 200, 200);
}

body
{
    background-color: rgb(30, 30, 30);
}

a:link
{
    color: rgb(52, 190, 91);
}

a:visited
{
    color: rgb(0, 100, 0);
}

a:hover
{
    color: rgb(0, 255, 0);
}

ul
{
    list-style-position: inside;
    padding-left: 0;
}​

.link
{
    font-size: 20px;
}

.header-bar
{
    width: 100%;
    margin: 0px;
    padding: 10px;
    text-align: center;
    position: relative;
    box-sizing: inherit;
    border: 1px solid rgb(60, 60, 60);
    background-color: rgb(40, 40, 40);
}

.header-1
{
    font-size: 60px;
    line-height: 2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    white-space: nowrap;
    color: rgb(52, 190, 91);
}

.header-2
{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 50px;
    white-space: nowrap;
    color: rgb(52, 190, 91);
}

.header-3
{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 40px;
    white-space: nowrap;
    color: rgb(52, 190, 91);
}

.header-4
{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 30px;
    white-space: nowrap;
    color: rgb(52, 190, 91);
}

.header-5
{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 20px;
    white-space: nowrap;
    color: rgb(52, 190, 91);
}

.header-6
{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 10px;
    white-space: nowrap;
    color: rgb(52, 190, 91);
}

.vertical-layout
{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.horizontal-layout
{
    display: flex;
    justify-content: space-around;
}

.pill
{
    margin: 10px;
    text-align: center;
    border-radius: 1em;
    white-space: nowrap;
    padding-left: 0.4em;
    padding-right: 0.4em;
    border: 2px solid rgb(200, 200, 255);
}

.cell
{
    padding: 0px;
    margin: 10px;
    border-radius: 10px;
    white-space: nowrap;
}

.text-block
{
    text-align: left;
}

.centered-text
{
    text-align: center;
}

.vertical-spacer
{
    height: auto;
    border-left: 1px solid rgb(52, 190, 91);
}

.horizontal-spacer
{
    size: 1px;
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border: 1px solid rgb(52, 190, 91);
}

.horizontal-cell
{
    width:100%;
    margin: 10px;
    padding: 0.5rem;
    overflow: hidden;
    border-radius: 10px;
    white-space: nowrap;
    border: 1px solid rgb(60, 60, 60);
    background-color: rgb(40, 40, 40);
}